<div class="container_add">
    <h1 class="text-center">ajouter un employer</h1>
    <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Numero CIN de l'employé</label>
          <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="numero de 8 chiffres...">
        </div>
        
        <div class="form-group mt-4">
            <label for="exampleInputEmail1">Nom de l'employé</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nom...">
        </div>

        <select class="form-select mt-4" aria-label="departements">
          <option selected>dep1</option>
          <option value="1">dep2</option>
          <option value="2">dep3</option>
          <option value="3">dep4</option>
        </select>

        <select class="form-select mt-4 mb-4" aria-label="departements">
          <option selected>Post1</option>
          <option value="1">Post2</option>
          <option value="2">Post3</option>
          <option value="3">Post4</option>
        </select>

        

          <div class="text-center">
            <button type="submit">Ajouter</button>
          </div>
        </form>
</div>