<div class="container">
    <table class="table table-image">
        <thead class="thead-dark">
        <tr>
            <th scope="col">CIN</th>
            <th scope="col">image</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">E-mail</th>
            <th scope="col">departement</th>
            <th scope="col">poste</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td><img src="src\assets\imgs\profil.png" alt="emp1"></td>
            <td>Mark</td>
            <td>Otto</td>
            <td>test@gmail.com</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td><img src="" alt="emp2"></td>
            <td>Thornton</td>
            <td>@fat</td>
            <table>test2@gmail.com</table>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td><img src="" alt="emp3"></td>
            <td>the Bird</td>
            <td>@twitter</td>
            <td>test3@gmail.com</td>
        </tr>
        </tbody>
    </table>
    
</div>