<div class="recent-orders">
    <h2>Liste des employés</h2>
        <table>
            <thead>
                <tr>
                    <th>Nom d'employé</th>
                    <th>numero de la carte d'identité</th>
                    <th>Département</th>
                    <th>Poste</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                      <td>Foldable Mini Drone</td>
                      <td>85631</td>
                      <td>Due</td>
                      <td>Pending</td>
                      <td class="text-primary"routerLink="/detailemp">Details</td>

                </tr>
                <tr>
                    <td>Foldable Mini Drone</td>
                    <td>85631</td>
                    <td>Due</td>
                    <td>Pending</td>
                    <td class="text-primary" routerLink="/detailemp">Details</td>
              </tr>
              <tr>
                <td>Foldable Mini Drone</td>
                <td>85631</td>
                <td>Due</td>
                <td>Pending</td>
                <td class="text-primary" routerLink="/detailemp">Details</td>
          </tr>
        <tr>
            <td>Foldable Mini Drone</td>
            <td>85631</td>
            <td>Due</td>
            <td>Pending</td>
            <td class="text-primary" routerLink="/detailemp">Details</td>
        </tr>
    </tbody>
</table>
        
</div>

                    



