<div class="container">
    <table class="table table-striped">
        <thead class="table-dark">
        <tr>
            <th scope="col">CIN</th>
            <th scope="col">image</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">E-mail</th>
            <th scope="col">departement</th>
            <th scope="col">poste</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row"> <a href=""> 1 </a></th>
            <td class="w-25">
                <a href="">  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class=" w-25 rounded-circle" alt="Sheep">
                </a> </td> 
            <td> <a href=""> Mark </a></td>
            <td> <a href=""> Otto </a></td>
            <td> <a href=""> test@gmail.com </a></td>
            <td><a href=""></a></td>
            <td><a href=""></a></td>
        </tr>
        <tr>
            <th scope="row"> <a href=""> 1 </a></th>
            <td class="w-25">
                <a href="">  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class=" w-25 rounded-circle" alt="Sheep">
                </a> </td> 
            <td> <a href=""> Mark </a></td>
            <td> <a href=""> Otto </a></td>
            <td> <a href=""> test@gmail.com </a></td>
            <td><a href=""></a></td>
            <td><a href=""></a></td>
        </tr>
        <tr>
            <th scope="row"> <a href=""> 1 </a></th>
            <td class="w-25">
                <a href="">  <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/sheep-3.jpg" class=" w-25 rounded-circle" alt="Sheep">
                </a> </td> 
            <td> <a href=""> Mark </a></td>
            <td> <a href=""> Otto </a></td>
            <td> <a href=""> test@gmail.com </a></td>
            <td><a href=""></a></td>
            <td><a href=""></a></td>
        </tr>
        </tbody>
    </table>
    
</div>



