
<div class="container col-6 col-xl-4">
    <div class="text-center">
        <h1>Se Connecter</h1>
    </div>
<form class="row g-3 needs-validation" novalidate>
    <div>
      <label for="validationCustom01" class="form-label">identificateur</label>
      <input type="text" class="form-control" id="validationCustom01" Placeholder="Votre identificateur..." required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div>
      <label for="validationCustom02" class="form-label">Mot de passe</label>
      <input type="text" class="form-control" id="validationCustom02" Placeholder="Votre Mot de Passe..." required>
      <div class="valid-feedback">
        Looks good!
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-primary" type="submit">SE CONNECTER</button>
    </div>
  </form>
</div>