<div class="recent-orders">

    <h1 class="text-center">Raslen BEN SALAH</h1>

    <div class="mt-4">
        <img src="assets/images/profile-2.jpg" alt="">
    </div>

    <table>

        <tbody>

            <tr>
                <th>Numero de la carte d'identé</th>
                <td>Foldable Mini Drone</td>
            </tr>

            <tr>
                <th>Nom d'employé</th>
                <td>Foldable Mini Drone</td>
            </tr>

            <tr>
                <th>Date de naissance</th>
                <td>Foldable Mini Drone</td>
            </tr>

            <tr>
                <th>adresse mail</th>
                <td>Foldable Mini Drone</td>
            </tr>

            <tr>
                <th>departement</th>
                <td>Foldable Mini Drone</td>
            </tr>

            <tr>
                <th>poste</th>
                <td>Foldable Mini Drone</td>
            </tr>

    </tbody>
</table>


    <div class="modif">
    <button> <a href="">Modifier</a></button>
    </div>

    <div class="supp">
    <button><a href="">Supprimer</a></button>
    </div>



</div>