tbody tr:hover{
    background-color: #0d6efd;
}

td a { 
    display: block; 
    text-decoration: none;
    color: black;
 }
 th a { 
    display: block; 
    text-decoration: none;
    color: black;
 }