    <aside>

        <div class="top">
            <div class="logo">
                <img src="assets/images/logo-agil.png" alt="logo">
                 <h2>AGIL<span class="danger">CORPORATE UNIVERSITY</span></h2>
            </div>

            <div class="close" id="close-btn">
                 <span class="material-icons-sharp">close</span>
            </div>
        </div>

        <div class="sidebar">

            <a class="active" routerLink="/dashboard">
                <span class="material-icons-sharp">grid_view</span>
                <h3>Dashboard</h3>
            </a>

            <a routerLink="/listeemp">
                <span class="material-icons-sharp">person_outline</span>
                <h3>Les Employés</h3>
            </a>

            <a routerLink="/listquiz">
                <span class="material-icons-sharp">inventory</span>
                <h3>Les tests</h3>
            </a>

            <a href="#">
                <span class="material-icons-sharp">logout</span>
                <h3>Logout</h3>
            </a>

        </div>

    </aside>





