h1{
    margin-top: 18px;
}

.component{
    margin:2rem 0 4rem;

}

.component h2{
    margin-bottom:2rem;
    color: var(--color-warning);
}

.component table{
    background: var(--color-white);
    width: 100%;
    border-radius: var(--card-border-radius);
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
    transition: all 300ms ease;
}

.component table:hover{
    box-shadow:none;
}

table tbody td{
    height:2.8rem;
    border-bottom:1px solid var(--color-light);
    color:var(--color-dark-variant);
}

table tbody tr:last-child td{
    border:none;
}

.component a{
    text-align:center;
    display:block;
    margin:1rem auto;
    color:var(--color-primary);
}

.date{
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
}

 .date input[type="date"]{
    background: transparent;
    color: var(--color-dark);
}

