<h1>Dashboard</h1>

<div class="dashboard">
    <div class="date"> <span class="material-icons-sharp">
        calendar_month
        </span>
         {{myDate | date}} 
    </div>

    
    <div class="component">
        <app-listeemp></app-listeemp>
        <a routerLink="/listeemp">Show All</a>
    </div>

    <div class="component">
        <app-list-quiz></app-list-quiz>        
        <a routerLink="/listquiz">Show All</a>                  
    </div>

</div>






                    



